<div class="custom-tooltip" style="background-color: darkviolet; border-width:10px; border-color: blue; height:100px;padding: 3px;">
  <table>
  <tr><td><b>Scheduled Start: </b></td><td>{{data.ScheduledStart}}</td><td style="padding-left: 10px;">{{ScheduledStartUTC}}</td></tr>
  <tr><td><b>Scheduled End: </b></td><td>{{data.ScheduledEnd}}</td><td style="padding-left: 10px;">{{ScheduledEndUTC}}</td></tr>
  <tr><td><b>Actual Start: </b></td><td>{{data.ActualStart}}</td><td style="padding-left: 10px;">{{ActualStartUTC}}</td></tr>
  <tr><td><b>Actual End: </b></td><td>{{data.ActualEnd}}</td><td style="padding-left: 10px;">{{ActualEndUTC}}</td></tr>
</table>
</div>
