<div
  style="height:45px; align-items: center;display: flex; padding-left: 5px; font-size: 14px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <span style="font-size: 18px; font-weight: bold; margin-right: 50px; margin-left: 10px;">SITA AMS Tow Tracker</span>

<div *ngIf="showDateRange">Select Mode
  <select  name="modeType" id="modeType" style="height:25px;width:125px; font-size: 12px;" [(ngModel)]='selectMode' (change)='modeSelectChange()'>
    <option value="Monitor" selected="selected">Monitor</option>
 <!--   <option value="FlightReview">Tow for Flights Review</option> -->
    <option value="TowReview">Tows by Day Review</option>
  </select>
</div>
  <div style="display: flex; flex-direction: column;">
    <div *ngIf='selectMode == "Monitor"' style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">

      <label>Scheduled Tow Start From:</label>
      <select name="from" [(ngModel)]='offsetFrom' style="font-size: 12px;">
        <option value="-300" selected="selected">-5 hours</option>
        <option value="-240">-4 hours</option>
        <option value="-180">-3 hours</option>
        <option value="-120">-2 hours</option>
        <option value="-60">-1 hour</option>
        <option value="0">0 hour</option>
        <option value="60">+1 hour</option>
        <option value="120">+2 hour</option>
        <option value="180">+3 hour</option>
      </select>
      <label style="margin-left: 10px;">To:</label>
      <select name="to" [(ngModel)]='offsetTo' style="font-size: 12px;">
        <option value="-180">-3 hours</option>
        <option value="-120">-2 hours</option>
        <option value="-60">-1 hour</option>
        <option value="0">0 hour</option>
        <option value="60">+1 hour</option>
        <option value="120">+2 hour</option>
        <option value="180">+3 hour</option>
        <option value="240" selected="selected">+4 hour</option>
        <option value="300">+5 hour</option>
        <option value="360">+6 hour</option>
      </select>
      <label style="margin-left: 15px;">Show Completed Tows:</label>
      <input type="checkbox" [(ngModel)]='showCompleted' (change)="setCurrentRange()">
      <button (click)="setCurrentRange()" style="font-size:12px;">Load</button>

    </div>


    <div *ngIf='showDateRange && selectMode == "TowReview"'
    style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <label>Tows Between:</label>
    <input class="gridinput" [(ngModel)]="rangeDateFrom" (change)='rangeDateFromSet($event)' style="font-size:12px;width:120px" type="date">
    <label style="margin-left: 10px; margin-right: 10px;">and</label>
    <input class="gridinput" [(ngModel)]="rangeDateTo" (change)='rangeDateToSet($event)' style="font-size:12px;width:120px" type="date">
    <select class="gridinput" name="towTypes" id="towTypes" style="font-size:12px;width:100px;margin-left:15px">
      <option value="Incomplete" selected="selected">Incomplete</option>
      <option value="Complete">Complete</option>
      <option value="All">All</option>
    </select>
    <button (click)="setSelectedDateRange()" style="font-size:12px">Load</button>

  </div>

  </div>
  <label style="margin-left:20px">Time Format:</label>
  <select name="timeFormat" [(ngModel)]='timeFormat' (change)='timeFormatChange($event.target.value)' style="font-size: 12px;">
    <option value="Local" selected="selected">Local Time</option>
    <option value="UTC">UTC Time</option>
  </select>

    <button mat-icon-button [matMenuTriggerFor]="menu"  style="margin-left:auto; margin-right: 20px; background-color: #181D1F;">
      <mat-icon style="color:whitesmoke; background-color: #181D1F;">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" style="background-color: yellow;">
      <button mat-menu-item (click)="sortDefault()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>Default Sort</button>
      <button mat-menu-item id="copyBtn" (click)="copyToClipboard()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>Copy</button>
      <button mat-menu-item id="csvBtn" (click)="saveToCSV()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>Save to CSV</button>
      <hr />
      <button mat-menu-item [disabled] = "disableLogin" id="loginBtn" (click)="openDialog()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>Login</button>
      <button mat-menu-item [disabled] = "disableLogout" id="logoutBtn" (click)="logout()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>Logout</button>
      <hr/>
      <button mat-menu-item id="aboutBtn" (click)="about()" style='font-size: 14px; width:100px; border:unset;height:24px;line-height: 24px;'>About</button>
    </mat-menu>
</div>



<ag-grid-angular style="width: 100%;  height: calc(100vh - 75px);" class="ag-theme-alpine-dark" [rowData]="rowData"
  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true" [getRowNodeId]="getRowNodeId"
  [defaultColDef]="defaultColDef" [tooltipShowDelay]="tooltipShowDelay" [frameworkComponents]="frameworkComponents"
  [components]="components" (cellValueChanged)="onCellValueChanged($event)"
  [overlayLoadingTemplate]="overlayLoadingTemplate">
</ag-grid-angular>
<div style="height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
  <span style="margin-left: 10px; font-size: 14px">Status:</span>
  <span style="margin-left: 10px; font-size: 14px" [ngClass]="status">{{status}}</span>
  <span style="margin-left: 10px; font-size: 14px">Last Update:</span>
  <span style="margin-left: 10px; font-size: 14px;color:cadetblue">{{lastUpdate}}</span>
  <span style="margin-left: 10px; font-size: 14px">Rows:</span>
  <span style="margin-left: 10px; font-size: 14px;color:cadetblue">{{numRows}}</span>
  <span style="margin-left: 10px; font-size: 14px">Time Format:</span>
  <span style="margin-left: 10px; font-size: 14px;color:cadetblue">{{globals.timeZone}}</span>
  <span style="margin-left: 10px; font-size: 14px">User Status:</span>
  <span style="margin-left: 10px; font-size: 14px;"  [ngClass]="{'LoggedIn': globals.userStatus =='Logged In','LoggedOut': globals.userStatus =='Logged Out' || globals.userStatus =='No Access' ,'NoEdit': globals.userStatus =='No Edit Access'}">{{globals.userStatus}}</span>
  <span style="margin-left: 30px; font-size: 14px;color: orange;">Version 0.96</span>  

</div>

