.ag-header-cell-label {
    justify-content: center;
 }

 .Rolling {
  color: lime;
}

.Fixed {
  color: yellow;
}
.Connected {
  color: lime;
}

.Connecting {
  color: yellow;
}
.NoEdit {
  color: yellow;
}
  .Disconnected {
    color: red;
  }

  .LoggedIn {
    color: red;
  }
  .LoggedOut {
    color: lime;
  }

  .Live {
      color: skyblue;
  }
  
  .Refresh {
      color: mediumturquoise
  }
  
  label {
    margin-left: 5px;
    margin-right: 3px;
  }
  
  .gridinput {
    font-family: inherit;
    width:35px;
    font-size: 9px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 3px;
  }
  button {
    font-family: inherit;
    width:35px;
    font-size: 9px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 3px; 
    margin-left: 5px;
  }
  
  select {
    font-family: inherit;
    font-size: 9px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 5px;
  }

 .hide{
    display: none
  }
  
  .show {
    display: inline;
  }

  .rag-red {
    background-color: lightcoral;
  }
  .rag-green {
    background-color: lightgreen;
  }
  .rag-amber {
    background-color: lightsalmon;
  }
  
  .rag-red-outer .rag-element {
    background-color: lightcoral !important;
  }
  
  .rag-green-outer .rag-element {
    background-color: lightgreen;
  }
  
  .rag-amber-outer .rag-element {
    background-color: lightsalmon;
  }
