<div style="height:45px; align-items: center;display: flex; padding-left: 5px; font-size: 14px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <span style="font-size: 18px; font-weight: bold; margin-right: 50px; margin-left: 10px;">SITA AMS Tow Tracker</span>


  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">

    
    <span style="width:5px">
      <span [ngClass]="getOffsetBulletClass()">&bull;</span>
    </span>
    <label>Current Time</label>

    <label>From:</label>
    <select name="from" [(ngModel)]='offsetFrom'>
      <option value="-300" selected="selected">-5 hours</option>
      <option value="-240">-4 hours</option>
      <option value="-180">-3 hours</option>
      <option value="-120" >-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>

    </select>
    <label>To:</label>
    <select name="to" [(ngModel)]='offsetTo'>
      <option value="-180">-3 hours</option>
      <option value="-120">-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>
      <option value="240"  selected="selected">+4 hour</option>
      <option value="300">+5 hour</option>
      <option value="360">+6 hour</option>
    </select>

    <button (click)="setCurrentRange()">Load</button>

  </div>
  <div *ngIf='showDateRange'  style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <span style="width:5px">
      <span [ngClass]="getRangeBulletClass()">&bull;</span>
    </span>
    <label>Date:</label>
    <input class="gridinput" [(ngModel)]="rangeDate" style="width:100px" type="date">
  <label>From:</label>
  <input  class="gridinput" [(ngModel)]='rangeFrom' type='time' style='width:60px'>
  <label>To:</label>
  <input  class="gridinput" [(ngModel)]='rangeTo' type='time' style='width:60px'>
    <button (click)="setSelectedRange()">Load</button>

  </div>

  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px;">
    <label>Show Completed:</label>
    <input type="checkbox" [(ngModel)]='showCompleted' (change)='loadData()'>

    <button (click)="sortDefault()" style='font-size: 12px; width:100px'>Default Sort</button>
    <button id = "loginBtn" (click)="openDialog()" style='font-size: 12px; width:50px; display: none'>Login</button>
    <button id="logoutBtn" (click)="logout()" style='font-size: 12px; width:50px; display: none'>Logout</button>
  </div>
</div>



<ag-grid-angular style="width: 100%;  height: calc(100vh - 75px);" class="ag-theme-alpine-dark" [rowData]="rowData"
  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true"  [getRowNodeId]="getRowNodeId"
  [defaultColDef]="defaultColDef"
  [tooltipShowDelay]="tooltipShowDelay"
  [frameworkComponents]="frameworkComponents"
  [components]="components"
  (cellValueChanged)="onCellValueChanged($event)"
  >
</ag-grid-angular>
<div style="height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
  <span style="margin-left: 10px; font-size: 11px">Status:</span>
  <span style="margin-left: 10px; font-size: 11px" [ngClass]="status">{{status}}</span>
  <span style="margin-left: 10px; font-size: 11px">Last Update:</span>
  <span style="margin-left: 10px; font-size: 11px;color:cadetblue">{{lastUpdate}}</span>
  <span style="margin-left: 10px; font-size: 11px">Rows:</span>
  <span style="margin-left: 10px; font-size: 11px;color:cadetblue">{{numRows}}</span>
  <span style="margin-left: 10px; font-size: 11px">Display Mode:</span>
  <span style="margin-left: 10px; font-size: 11px;" [ngClass]="displayMode">{{displayMode}}</span>
  <span style="margin-left: 10px; font-size: 11px">User Status:</span>
  <span style="margin-left: 10px; font-size: 11px;" [ngClass]="{'LoggedIn': globals.userStatus =='Logged In','LoggedOut': globals.userStatus =='Logged Out','NoEdit': globals.userStatus =='No Edit Access'}">{{globals.userStatus}}</span>
</div>
