<div class="custom-tooltip"
  style="background-color: darkviolet; border-width:10px; border-color: blue; height:300px;padding: 3px;">
  <b>Tow Plan</b>
  <br/>
  <table>
    <tr>
      <td style="width:100px"><b>Tow ID</b></td>
      <td style="width:60px"><b>From</b></td>
      <td style="width:60px"><b>To</b></td>
    </tr>
    <tr>
      <td>{{data[0].TowingID}}</td>
      <td>{{data[0].From}}</td>
      <td>{{data[0].To}}</td>
    </tr>
    <tr>
      <td>{{data[1].TowingID}}</td>
      <td>{{data[1].From}}</td>
      <td>{{data[1].To}}</td>
    </tr>
    <tr>
      <td>{{data[2].TowingID}}</td>
      <td>{{data[2].From}}</td>
      <td>{{data[2].To}}</td>
    </tr>
    <tr>
      <td>{{data[3].TowingID}}</td>
      <td>{{data[3].From}}</td>
      <td>{{data[3].To}}</td>
    </tr>
    <tr>
      <td>{{data[4].TowingID}}</td>
      <td>{{data[4].From}}</td>
      <td>{{data[4].To}}</td>
    </tr>
    <tr>
      <td>{{data[5].TowingID}}</td>
      <td>{{data[5].From}}</td>
      <td>{{data[5].To}}</td>
    </tr>
    <tr>
      <td>{{data[6].TowingID}}</td>
      <td>{{data[6].From}}</td>
      <td>{{data[6].To}}</td>
    </tr>
    <tr>
      <td>{{data[7].TowingID}}</td>
      <td>{{data[7].From}}</td>
      <td>{{data[7].To}}</td>
    </tr>
    <tr>
      <td>{{data[8].TowingID}}</td>
      <td>{{data[8].From}}</td>
      <td>{{data[8].To}}</td>
    </tr>
    <tr>
      <td>{{data[9].TowingID}}</td>
      <td>{{data[9].From}}</td>
      <td>{{data[9].To}}</td>
    </tr>

  </table>


</div>
