<div class="custom-tooltip"
  style="background-color: darkviolet; border-width:10px; border-color: blue; height:300px;padding: 3px;">
  <b>Stand Information</b>
  <br/>
  <table>
    <tr>
      <td style="width:140px"><b>Name</b></td>
      <td style="width:100px"><b>Value</b></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{data.Name}}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td>{{data.Area}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[0].Name}}</td>
      <td>{{data.CustomFields[0].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[1].Name}}</td>
      <td>{{data.CustomFields[1].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[2].Name}}</td>
      <td>{{data.CustomFields[2].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[3].Name}}</td>
      <td>{{data.CustomFields[3].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[4].Name}}</td>
      <td>{{data.CustomFields[4].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[5].Name}}</td>
      <td>{{data.CustomFields[5].Value}}</td>
    </tr>
    <tr>
      <td>{{data.CustomFields[6].Name}}</td>
      <td>{{data.CustomFields[6].Value}}</td>
    </tr>
  </table>
</div>
