/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin.scss";


.ag-theme-alpine-dark {
  @include ag-theme-alpine-dark();
}

.SCHEDULED{
  background-color: limegreen;
  color:black;
}
.NOTSTARTED{
  background-color: red;
  color: black;
}
.STARTED,
.STARTEDEARLY,
.STARTEDLATE
{
  background-color: yellow;
  color: black;
}
.STARTEDRUNNINGOVERTIME
{
  background-color: coral;
  color: black;
}
.COMPLETED,
.COMPLETEDEARLY,
.COMPLETEDLATE
{
  background-color: gray;
  color: black;
}
.COMPLETEDDQMISSUES
{
  background-color: lightgray;
  color: black;
  animation: blinker 1s linear infinite;
}

.BLINK {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
